.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.logo {
    width: 128px;
}

.img-class {
    max-width: 500px;
    height: 100vh;
  }

.login-btn {
  background-color: #4b0dba;
  color: white;
}
.login-btn:hover {
  background-color: #7169fe;
  color: white;
}

.forgot {
  color: rgba(171, 171, 171, 1);
  cursor: pointer;
}

.forgot:hover {
  color: #7169fe;
}


    

